
*.swp
*~

CMake.vars
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile

cmake/cython_test.cpp
cmake_install.cmake

python/CMakeFiles/
python/Makefile
python/application.log
python/basic.cpp
python/basic.so
python/cmake_install.cmake
python/solution.png

src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/cmake_install.cmake
src/config.h
src/libhermes_basic.so
src/module-basic

src/tests/CMakeFiles/
src/tests/CTestTestfile.cmake
src/tests/Makefile
src/tests/cmake_install.cmake

